:root{
    --primary :#333;
    --bg :#010101;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border:none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg);
    color: #fff;
    min-height: 3000px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color:rgba(1, 1, 3, 0.5);
    border-bottom:1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

}

.navbar .navbar-nav a {
    color:#fff;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color : rgb(148, 148, 255);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(148, 148, 255);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {

    transform: scaleX(0.5);

}

#hamburger-menu{
    display: none;
}




/* Ini Bagian konten */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('Assets/gambar-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after{
    content :'';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
     bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 35%) ;
}

.hero .content {
    padding: 1.4rem;
    max-width: 60rem;
    
}

.hero .content h1 {
    font-size: 5em;
    color :#fff;
    text-shadow: 1px 1px rgba(1, 1, 1, 0.5);
    line-height: 1.2;
}

.hero .content p {
   font-weight: 100;
    margin-top: 0.8rem;
    line-height: 2rem;
    max-width: 40rem;
    font-size: 1.4rem;
    text-shadow: 1px 1px rgba(1, 1, 1,  text-shadow: 1px 1px rgba(1, 1, 1, 0.5));
    
    
    
}

.hero .content .cta {
    margin-top : 2rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgb(148, 148, 255);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1px 1px 3px rgba(1,1,3,0.5));
}
.hero .content .cta:hover {
    margin-top : 2rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1px 1px 3px rgba(1,1,3,0.5));
}

.about,
.daftar-harga {
    padding: 6rem 7% 1.4rem;
    min-height: 100vh;
}

.about h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.6rem;
}

.about .row {
    display: flex;
}

.about .row .img-about {

    flex: 1 1 45rem;

}

.about .row .img-about img {
   width :100%;
}

.about .row .img-about .content  {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .img-about h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.about .row .img-about  {
    
}

.about .row .content {
    margin-top: 1.5rem;
}

.about .row .content p{
    font-weight: 100;
    margin-top: 0.8rem;
    line-height: 2rem;
    max-width: 40rem;
    font-size: 1.4rem;
}

/* Menu */

.daftar-harga h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-align: center;
}

.daftar-harga p {
    max-width: 30rem;
    text-align: center;
    margin: auto;
    font-weight: 100;
    line-height: 1.6rem;

}

.daftar-harga .row {
    display: flex;
    flex-wrap:inherit;
    margin-top: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.menu-card {

    text-align: center;

}

.menu-card img {
    border-radius: 5%;
    width: 80%;
   
}

.judul-menu {
    margin: 1.5rem auto 0.5rem;
}

/* Contact Section */

.contact h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: center;
}

.contact {
    padding: 6rem 7% 1.4rem;
}

.contact p {
    max-width: 30rem;
    text-align: center;
    margin: auto;
    font-weight: 100;
    line-height: 1.6rem;
}

.contact-space img {
     border-radius: 5%;
     width: 10%;
}


.row-contact {
    display: flex;
    flex-wrap:wrap;
    margin-top: 2rem;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: var(--primary);
}

.map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .rom form {
    flex: 1 1 45rem;
    padding: 5rem 2rem ;
    text-align: center;
}

.contact .row-contact form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

